@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lobster&family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bgOrange: #e84949;
}

#wrapper {
  height: 100vh;
  /* width: 100vw; */
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  margin: 0 auto;
  /* width: 80vw; */
  width: 1200px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.logo-container {
  display: flex;
  align-items: end;
  justify-content: baseline;
  gap: 0px;
}

.logo {
  width: 80px;
}

.logo-text {
  margin-left: -0.7rem;
  margin-bottom: 0.5rem;
  font-size: 30px;
  font-style: italic;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 2rem;
  padding: 0 4em;
}

.nav-items div {
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.nav-items div a {
  color: rgb(61, 57, 57);
}

.nav-items div:hover a {
  /* font-weight: 500; */
  color: black;
  transition: 1s;
}

a {
  text-decoration: none;
}

.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
}

.faded-text {
  /* position: absolute; */
  font-size: 7em;
  color: rgb(231, 231, 231);
  user-select: none;

  bottom: -14%;
  left: -5%;
  font-weight: bold;
  transition: all 3s;
}

.hero-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  gap: 2rem;
}

.hero-section-heading {
  color: #343d68;
  font-size: 35px;
  font-weight: 500;
}

.role {
  color: #4e45d5;
  font-weight: 800;
}

.hero-section-sub-heading {
  font-size: 45px;
  line-height: 45px;
}

.hero-section-description {
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}

.btn-pink {
  background-color: #e84949;
  width: fit-content;
  color: black;
  padding: 0.8rem 2.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.btn-pink::before {
  content: "";
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s ease;
}

.btn-pink:hover {
  color: #ffffff;
}

.btn-pink:hover::before {
  transform: scaleX(1);
}

.hero-section-right {
  position: relative;
}

.absolute {
  position: absolute;
}

.user-image {
  padding: 2.5rem;
  filter: grayscale(1);
  transition: all 1s;
  animation: scaleImage 5s linear infinite;
}

.user-image img {
  z-index: -9;
  width: 340px;
}

@keyframes scaleImage {
  0% {
    transform: scale(1);
    filter: grayscale(0);
    box-shadow: 3px 3px 10px rgb(34, 33, 33);
  }

  25% {
    transform: scale(1.05);
    filter: grayscale(0.5);
    box-shadow: 1px 1px 10px rgb(96, 91, 91);
  }
  50% {
    transform: scale(1.1);
    filter: grayscale(1);
    box-shadow: 0px 0px 0px rgb(161, 156, 156);
  }

  75% {
    transform: scale(1.05);
    filter: grayscale(0.5);
    box-shadow: 1px 1px 10px rgb(96, 91, 91);
  }
  100% {
    transform: scale(1);
    filter: grayscale(0);
    box-shadow: 3px 3px 10px rgb(34, 33, 33);
  }
}

.icon-dots {
  z-index: 9;
  bottom: -1rem;
  right: 0;

  animation-name: dotsAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes dotsAnimation {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.icon-cube {
  z-index: 9;
  right: 1em;
  top: -0.8em;

  animation-name: cubeAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes cubeAnimation {
  0% {
    transform: translateY(0px) rotateY(0deg);
  }
  50% {
    transform: translateY(-12px) rotateY(180deg);
  }
  100% {
    transform: translateY(0px) rotateY(0deg);
  }
}

.icon-circle {
  z-index: 9;
  left: 0;
  bottom: 0;

  animation-name: shakeEffect;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes shakeEffect {
  0% {
    left: 0%;
    bottom: 0%;
  }

  50% {
    left: 5%;
    bottom: 10%;
  }
  100% {
    left: 0%;
    bottom: 0%;
  }
}

.icon-zigzag {
  z-index: 9;
  top: 1.5em;
  left: -0.3em;

  animation: zigzagAnimation 5s ease-in infinite;
}

@keyframes zigzagAnimation {
  50% {
    left: 5%;
    top: 2%;
  }
}

.icon-plus {
  z-index: 9;
  top: -0.8rem;
  left: 50%;

  animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {
  50% {
    top: 3%;
    left: 48%;
  }
}

.project-section {
  background-color: rgb(231, 231, 231);
  /* width: 100vw; */
  margin-top: 4rem;
}

.page-header {
  color: var(--bgOrange);
  font-size: 90px;
  text-align: center;
  padding-top: 30px;
}

.project-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.project-card {
  width: 90%;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
}

#project1 {
  background-image: url(Project1.png);
}
#project2 {
  background-image: url(Project2.png);
  margin-left: 120px;
}
#project3 {
  background-image: url(Project3.png);
}
#project4 {
  background-image: url(Project4.png);
  margin-left: 120px;
}

.project-card::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1f1f1f9a;
  z-index: 0;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  z-index: 1;
}

.project-card:hover::before {
  transform: scaleX(1);
}

.project-number {
  position: absolute;
  color: white;
  font-size: 200px;
  font-weight: 600;
  z-index: 10;
  opacity: 0;
}

.project-number-right {
  right: -40px;
  top: -45px;
}
.project-number-left {
  left: -40px;
  top: -45px;
}

.project-card:hover {
  .project-number {
    /* z-index: 10; */
    opacity: 1;
  }
}

.project-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2em;
  gap: 1em;
  bottom: 20%;
  z-index: 5;
  transition: all 0.4s;
}

.project-content-left {
  left: 10%;
}
.project-content-right {
  right: 10%;
}

.project-skills-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-skill {
  width: 40px;
}

.project-heading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
}

.project-subHeading {
  width: 70%;
  font-size: 16px;
  font-style: italic;
}

.btn-group {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}

.icon {
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: all 0.4s;
}

.icon:hover {
  color: var(--bgOrange);
  /* transition: all 0.4s; */
}

.project-card:hover .project-content {
  transform: scale(1.08);
}

.skills-container {
  position: relative;
  display: flex;
  padding: 5rem;
  margin: 10rem auto;
  gap: 30px;
}

.skill-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.skill-container-right {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  gap: 2rem;
  justify-content: center;
}

.skill-fade-text {
  position: absolute;
  font-size: 15em;
  font-style: bold;
  color: rgb(231, 231, 231);
  bottom: -34.5%;
  right: -25%;
  user-select: none;
  overflow-y: hidden;
}

.blob-style {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: blobAnimation 3s linear infinite;
  z-index: -9;
}

@keyframes blobAnimation {
  50% {
    top: 54%;
    left: 46%;
  }
}

.skills-logo {
  width: 90px;
  transition: all 0.5s;
}

.skills-logo:hover {
  transform: scale(1.2);
}

.skill-heading {
  color: var(--bgOrange);
  font-style: bold;
  font-size: 50px;
  line-height: 50px;
}

.caps {
  font-size: 90px;
}

.skill-sub-heading {
  margin-top: 1rem;
  width: 85%;
  text-align: justify;
}

.skill-sub-heading p {
  margin: 15px 0;
}

.contactus-form-container {
  width: 100%;
  background-color: rgb(231, 231, 231);
}

.contactus-heading {
  color: var(--bgOrange);
  font-size: 5em;
  padding-top: 2rem;
}

.contactus-sub-heading {
  font-size: 3rem;
  color: #343d68aa;
  text-transform: capitalize;
}

.form-content-container {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
  margin: 2rem 5rem;
}

.formfield-container {
  width: 100%;
}

.formfield {
  width: 100%;
  height: 42px;
  padding: 0 2rem;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #1f1f1f;
  font-weight: 500;
  border: none;
  margin-top: 27px;
}

.formfield-textArea {
  height: auto;
  padding-top: 1rem;
}

#submit-btn {
  border: none;
  font-size: 1.2rem;
  margin: 1rem 0;
  transition: all 1s;
}

#submit-btn:hover {
  scale: 0.9;
}

.submit-icon {
  padding: 0 1rem;
  font-size: 1.5rem;
}

footer {
  background-color: #343d68;
  position: relative;
  margin-top: -1px;
  padding: 5rem;
}

.footer-wrapper {
  display: flex;
  gap: 1rem;
  padding: 1.2rem;
  justify-content: space-between;
  align-items: center;
}

.footer-faded-text {
  position: absolute;
  color: #535c87;
  left: 0;
  bottom: 0;
  user-select: none;
  font-size: 5em;
}

.link-wrapper {
  display: flex;
  gap: 1.2rem;
}

.link-wrapper div a {
  color: white;
  text-decoration: none;
  transition: all 0.4s;
}

.link-wrapper div a:hover {
  color: var(--bgOrange);
}

.icon-wrapper {
  display: flex;
  gap: 1rem;
}

